.scoreboard__option {
  width: 100%;

  --color-disk-size: 40px;

  &label {
    cursor: pointer;
    display: block;
  }

  .options.multiple & {
    width: 50%;
  }

  input[type=checkbox] {
    display: none;
  }

  .numbers-input {
    display: flex;

    &.numbers-input-many {
      flex-wrap: wrap;
    }

    .number {
      cursor: pointer;
      flex-grow: 1;
      border: 2px solid $scoreboard-color-overlay-mission-border;
      padding: 20px 10px;
      text-align: center;

      .digit {
        font-size: 2em;
      }

      .color-disc {
        width: var(--color-disk-size);
        height: var(--color-disk-size);
        margin: 0 auto 10px;
        border-radius: 100%;
        border: 2px solid transparent;

        &.no-color {
          border-color: $scoreboard-color-text-grey;
        }
      }

      .points {
        font-weight: bold;
        color: $scoreboard-color-text-grey;
        font-size: 1.2em;
      }

      &.active {
        border-color: var(--challenge-main-color);

        .points {
          color: var(--challenge-main-color);
        }
      }
    }
  }

  .field-box {
    border: 2px solid $scoreboard-color-overlay-mission-border;
    width: 100%; // To counter-effect .waves-effect

    .images {
      margin: 5px;
    }

    .description {
      padding: 20px;
      display: flex;
      align-items: center;

      .title {
        flex-grow: 1;
      }

      .points {
        font-weight: bold;
        color: $scoreboard-color-text-grey;
        font-size: 1.2em;
        margin-left: 20px;
      }
    }

    .fake-checkbox {
      $checkbox-size: 40px;

      flex-shrink: 0;
      width: $checkbox-size;
      height: $checkbox-size;
      border-radius: 3px;
      background: $scoreboard-color-overlay-mission-border;
      margin-right: 20px;
      text-align: center;
      font-size: 25px;
      line-height: $checkbox-size;
      color: transparent;
    }

    &.active {
      border-color: var(--challenge-main-color);

      .fake-checkbox, .points {
        color: var(--challenge-main-color);
      }
    }

    // Only remove the bottom border when used in a field box that already has its own outside border
    .numbers-input .number {
      border-bottom: none;

      &:last-of-type {
        border-right: none;
      }
    }
  }
}
