.tools {
  position: fixed;
  bottom: 60px;
  left: 10px;
  width: 300px;
  max-width: 100%;
  border-left: 2px solid $scoreboard-color-text-grey;
  padding: 20px;

  &::before {
    content: '';
    position: absolute;
    z-index: -1;
    top: 20px;
    bottom: 20px;
    left: -20px;
    right: 30px;
    background: rgba($scoreboard-color-background, 0.9);
    box-shadow: 0 0 50px 50px rgba($scoreboard-color-background, 0.9);
  }

  @media (max-width: 1400px) {
    position: relative;
    z-index: 200;
    bottom: 0;
    left: 0;
    margin-top: -200px;
  }

  @media (max-width: 640px) {
    margin-top: 0;
  }

  .locales {
    margin: 0 0 10px;
    padding: 0;
    list-style: none;

    li {
      cursor: pointer;
      display: inline-block;
      padding: 0.2em 0.5em;
      text-transform: uppercase;

      &:hover {
        text-decoration: underline;
      }

      &:not(:first-of-type) {
        border-left: 2px solid #e1e1e1;
      }
    }
  }

  .btn {
    border-radius: 2px;
    text-decoration: none;
    padding: 6px 10px;
    border: none;
    box-shadow: 0 0 2px $scoreboard-color-shadow;
    cursor: pointer;

    background: #efefef;
    color: $scoreboard-color-text-dark;

    &:hover {
      background: #e1e1e1;
    }

    &.twitter {
      background: #1b95e0; // Twitter brand color
      color: white;

      &:hover {
        background: #0c7abf;
      }
    }

    &.big {
      font-size: 1.4em;
      display: block;
    }
  }

  img {
    max-width: 100%;
  }
}
